/* create a css variABLE CALLED "primary-color" */
:root{
    --primary-color: #d62828;
}
body{
    font-family: Georama;
}
.row>*{
    padding-left: 0!important;
    padding-right: 0!important;
}
.row{
    margin-left: 0!important;
    margin-right: 0!important;
}
a{
    text-decoration: none;
}
.navbar-toggler{
    color: transparent!important;
    border:none;
}

.navbar-toggler-icon{
    background-image: url(images/nav-menu.svg);
}
.background{
    height: 80px;
    /* background: red; */
}
.logo-div{
    padding-left: 40px;
}
.navbar-collapse{
    padding-right: 60px;
}
.nav-link{
    font-size: 14px;
    font-weight: 600;
}
.nav-item{
    margin-right: 10px;
}
.icon-div{
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 40px;
    border-left: 2px solid #cfcfcf;
    height: 80px;
}
.home-icon{
    width: 40px;
}
.button-div{
    margin-top: 15px;
}
.button{
    margin-top: -10px;
    background-color: red;
    color: white;
    padding: 13px 15px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}
 
.hero-image{
    float: right;
    margin-top: 20px;
    /* margin-left: 80px; */
    padding-left: 100px;
}
.hero-image img{
    width: 85%;
}
.hero-container{
    width: 100%;
    display: flex;
    background: #f8f8f8; 
    min-height: 500px;
    padding: 0 40px;
}
.hero-block{
    padding-top: 30px;
    /* width: 50%; */
    margin-top: 20px;
}

.date{
    background: rgba(214, 40, 40, 0.10);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
    padding: 8px 20px;
    margin-top: 10px;
}


.tech-career{
    margin-top: 20px;
    color: #37474f;
    font-size: 36px;
    font-weight: 600;
}

.sub-text{
    color: #7d7979;
    font-size: 24px;
    font-weight: 500;
}
.hero-button-div{
    display: flex;
    margin-top: 40px;
}
.enroll-button-div{
    margin-right: 20px;
}
.enroll-button, .testimonial-button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
}
.enroll-button{
    padding: 9px 20px;
    align-items: center;
    /* padding: 12px 15px; */
    height: 50px;
    width: 180px;   
}
.testimonial-button{
    justify-content: center;
    color: red;
    border: 1px solid var(--primary-color);
    background: #fae7e7;
    height: 50px;
    width: 220px; 
    display: flex;
    align-items: center;
}
.play-icon{
    width: 25px;
}
.brands{
    width: 70%;
    justify-content: space-between;
}

.brands img{
    width: 90px;
}
.section{
    padding: 70px 40px 0px 40px!important;
}


.section-heading{
    font-size: 36px!important;
    font-weight: 600;
    margin-bottom: 50px;
}

/* Courses Section */
.parent-div-1{
    display: flex;
    min-height: 550px;
    /* width: 100%; */
    /* background-color: red; */
    position: relative;
}
 .product-card{
    background: #F0F0F0;
    border-radius: 10px;
    min-height: 350px;
    /* width: 100%; */
    position: relative;
    /* margin-right: 30px; */
     /* padding-left: 12px;  */
    
} 
.program-title{
    padding-top: 15px;
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
}
.text-sub{
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    font-weight: 600;
    color: #1e1e1e66;
}
.row{
    padding-bottom: 10px;
}

.course-key{
    font-size: 14px!important;
    margin-bottom: 4px!important;
}
.course-value{
    font-size: 14px!important;
}
.grey{
    color: #1e1e1e66;
    font-weight: 600;
}
.bold{
    color: black;
    font-weight: 600;
}


.level{
    font-size: 14px;
}
.money-div{
    display: flex;
}
.price-tag{
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
}
.price{
    color: #1e1e1e66;
}
.course-button-div{
    padding-top: 15px;
}
.product-card-btn{
    border-radius: 5px;
    padding: 8px 8px;
    font-weight: 600;
    font-size: 13px;
    border: 1px solid black;
}
.course-button{
    background: #030303;
    color: #ffff;
    text-decoration: none;
    margin-right: 10px;
}
.course-button:hover{
    background: #c00000;
    color: #fff;
}
.learn-button{
    background: #f8f8f8;
    color: black;
}
.learn-button:hover {
    border: 2px solid#d61a1a;
}

.testimony-section{
    font-size: 32px;
    font-weight: 600;
}
.testimony-courses{
    background: #e2e2e2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--primary-color);
    height: 100px;
    
    
    /* margin-right: 70px; */
}
.courses{
    font-size: 28px;
    color: #1e1e1e;
    font-weight: 600;
    padding: 10px 40px;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* make all divs with this class equal and such that sum of their widths will fill up the parent */
    


}
.courses.active, .courses:hover{
    background: var(--primary-color);
    color: #f8f8f8;
}

.testimony-div{
    display: flex;
    justify-content: space-between;
}
.testimony-div:not(:has(.active)) {
    display: none;
}
.testimony-div.active {
    display: flex;
}
.course-testimony-section{
    display: flex;
    width: 100%;
    /* background-color: red; */
    /* padding-left: 40px; */
}
.background-vid{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-image: url(images/Background\ 6.svg);
    width: 65%;
}
.arrow-left{
    margin: 110px 30px 0 10px;
    padding-top: 130px;
    padding-left: 40px;
    /* background: red; */
}
.testimonial-videos{
    width: 100%;
}
.vid{
    width: 70%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-right{
    margin: 110px 10px 0 30px;
    padding-top: 130px;
    /* background: yellow; */
}
.student-info{
    width: 35%;
    padding: 15px 20px;
    border-radius: 0px;
    border-left: 3px solid #c0c0c0;
    background-color: #f0f0f0;
    margin-top: 20px;  
    margin-left: 20px;
}

.student-image{
    width: 100%;
}
.name{
    padding-top: 10px;
    font-weight: 600;
}
.design-student{
    background: rgb(246, 250, 0);
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: 500;
}
.react{
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
}
.social-media{
    width: 100px;
}
.product-button{
    background: var(--primary-color);
    color: #f8f8f8;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
}
.product-button:hover{
    background: #030303;
    color: #fff;
}

.offer-section{
    padding-bottom: 40px!important;
    margin-top: 40px;
    background: #030303;
    min-height: 250px;
    width: 100%;
    /* display: flex; */
}
.offer-list{
    display: flex;
    /* padding-top: 30px; */
    /* padding-left: 90px; */
    /* padding: 0 50px; */
    justify-content: center;
    text-align: center;
    
}
.offer-text{
    font-size: 23px;
    color: #f0f0f0;
    padding-top: 5px;
    padding-left: 30px;
}
.offer-div{
    /* margin-right: 100px; */
    padding: 0 30px;
    width: 25%;
}
.write-up{
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
}
.offer-image{
    width: 60px
}
.top-project{
    min-height: 500px;
    padding-top: 40px;
    padding-left: 30px;
    /* padding-right: 30px; */
    /* display: flex; */
    /* width: 100%; */
}
.project-heading{
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
}
.projects-parent{
    /* margin-left: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--primary-color); */
    margin-top: 30px;
    width: 100%;
}
.project-box{
    width: 32%!important;
}

.rectangle{
    background: #888888;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
.project-name{
    padding-top: 10px ;
    color: #060630;
    font-weight: 600;
    font-size: 18px;
}
.project-writeup{
    color:  #37474f;
    padding-bottom: 10px;
}
.view-project{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #1e1e25;
    color: #f8f8f8;
}
.footer-div{
    margin-top: 30px;
    height: 100px;
    background: #888888;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Course Detail Modal */

body{
    font-family: Georama;
}
.nav-link{
    font-size: 14px;
    font-weight: 500;
}
.button-div{
    margin-top: 15px;
}
.button{
    margin-top: -10px;
    background-color: red;
    color: white;
    padding: 13px 15px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
} 
.icon-div{
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width: 40px;
    border-left: 2px solid #cfcfcf;
    height: 80px;
}
.home-icon{
    width: 40px;
}
.hero-pop-up{
    display: none;
    padding-top: 15px;
    width: 90%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f8f8f8;
    border-left: 1px solid black;
    /* add a scrol bar to scroll vertically within this fixed div */
    overflow-y: scroll;
    max-height: 100vh;
    z-index: 100;
}
.block1{
    width: 58%;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 20px;
    min-height: 1100px;
}

.design-text{
    color: var(--primary-color);
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 20px;
}
.course-type{
    padding: 10px 0px 0 20px;
    display: flex;
    justify-content: space-between;
    color: #ffff;
    background: rgb(30, 30, 30);
    width: 100%;
    height: 90px;
    border-radius: 10px;
}
.con{
    margin-right: 25px;
}
.sub{
    font-size: 13px;
    font-weight: 500;
    color: #808080;
}
.sub-text.mode{
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.learning-goals{
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
}
.goals-div{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.goals-container{
    width: 47%;
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: #808080;
    height: 100px;
    margin-top: -10px;
}

.learn-icon{
    width: 50px;
}
.container-text{
    margin-left: 10px;
    width: 280px;
}
.curriculum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course{
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
}
.download-tag{
    font-size: 19px;
    color: #4b4b4b;
    font-weight: 600;
    text-decoration: underline;
}
.card-div{
    /* background: var(--primary-color); */
    width: 100%;
    min-height: 550px;
    padding-top: 20px;
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 5px */
}
.card{
    align-items: center;
    text-align: center;
    width: 32%;
    height: 249px;
    border: none;
    background: #dddddd;
    padding-top: 20px;
}
.card-icon{
    margin-bottom: 10px;
}
.user-text{
    font-size: 14px;
    font-weight: 600;
}
.card-text{
    font-size: 13px;
}
.block2{
    width: 50%;
    padding-left: 30px;
    margin-top: 40px;
    padding-top: 10px;
    padding-right: 20px;
    min-height: 1100px;
    position: relative;
}


.block-2-enroll{
    margin-top: 72px;
}

.close-panel{
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(42, 10, 10, 0.2);
    z-index: 10000;
}

.close-div{
    height: 50px;
    width: 18%;
    top: 0;
    cursor: pointer;
    float: right;
    padding-right: 40px;
    position: absolute;
    right: 0;
    margin-top: -5px;
}
.close-icon{
    width: 60px;
}
/* .enroll-button-div{
    margin-top: 110px;
    padding-left: 50px;
    
} */
.enroll-button{
    background: var(--primary-color);
    border: none;
    padding: 12px 24px;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 500;
}
.offer{
    color: var(--primary-color);
    font-size: larger;
    font-weight: 600;
    margin-top: 50px;
}

#hand-holding-phone{
    /* pin this img tag to the extreem left of the screen */
    position: absolute;
    right: 0;
    bottom: 0;
    height: 550px; 
}

.offer-div{
    padding-top: 10px;
    min-height: 350px;
    padding-left: 50px;
}
.offer-card{
    width: 386px;
    height: 264px;
    background: #fff3f3;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 8px 8px 10px #a3a3a3;
}
.list-div{
    margin-top: 20px;
}
.list{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}
.footer-div{
    margin-top: 30px;
    height: 100px;
    background: #888888;
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOutToRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  #hero-pop-up {
    animation: slideInFromRight 0.5s ease-in-out;
  }
  #hero-pop-up.slide-out {
    animation: slideOutToRight 0.5s ease-in-out;
  }
@media screen and (max-width: 1200px){
    .date{
        font-size: 16px;
    }
    .tech-career {
        color: #37474f;
        font-size: 30px;
    }
    .sub-text {
        font-size: 20px;
    }
   
    .enroll-button, .testimonial-button{
        padding: 10px 20px;
        font-size: 16px;
    }

    /* Courses Section */
    .program-title{
        font-size: 24px;
        font-weight: bold;
    }

    .product-card-btn{
        padding: 7px 5px;
    }
    .course-button{
        margin-right: 6px;
    }

    .price-tag{
        font-size: 20px;
    }

    /* Course Detail modal */
    .design-text{
        font-size: 28px;
    }
    .sub{
        font-size: 12px;
    }
    .sub-text.mode{
        font-size: 12px;
    }

    .offer-card{
        width: 100%;
    }

    .list{
        font-size: 16px;
    }

    #hand-holding-phone{
        height: 480px;
    }
    
}
@media screen and (max-width: 1080px){
    .hero-image img{
        width: 85%;
    }
    .course-button{
        width: 100%;
    }
    .learn-button{
        width: 100%;
    }

    .text-sub{
        font-size: 12px;
        line-height: 20px;
    }
    .card-div .card{
        height: 220px;
    }
    .user-text{
        font-size: 12px;
    }
    .card-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 992px){
    .logo-div{
        padding-left: 20px;
    }
    .hero-container, .section{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .tech-career {
        font-size: 24px;
    }
    .sub-text {
        font-size: 16px;
    }
    .hero-image{
        padding-left: 120px;
    }
    .hero-image img{
        width: 80%;
    }
    .enroll-button, .testimonial-button{
        height: 45px;
        padding: 8px 16px;
        font-size: 15px;
    }
    .enroll-button{
        width: 150px;   
    }
    .testimonial-button{
        width: 200px; 
    }

    /* Courses Section  */
    .product-card-btn{
        padding: 8px 7px;
        font-size: 12px;
        /* border: 1px solid black; */
    }
    .course-button{
        width: 60%;
    }
    .learn-button{
        width: 34%;
    }
    
    .vid{
        width: 80%;
    }
    .write-up {
        font-size: 15px;
    }

    .design-text{
        font-size: 28px;
    }
    .sub{
        font-size: 11px;
    }
    .sub-text.mode{
        font-size: 11px;
    }
    .goals-container{
        width: 48%;
    }
    .offer-card{
        width: 100%;
        height: 230px;
    }
    .card-div .card {
        padding-right: 3px;
        padding-left: 3px;
        height: 249px;
    }
    .card-text{
       font-size: 11px; 
    }

    .list{
        font-size: 15px;
    }

    #hand-holding-phone{
        height: 480px;
    }
}

@media screen and (max-width: 902px){
    .hero-image{
        padding-left: 80px;
    }
    .hero-image img{
        width: 80%;
    }
    .courses{
        font-size: 22px;
    }

    .rectangle{
        height: 200px;
    }

    .project-name{
        font-size: 16px;
    }
    .project-writeup{
        font-size: 14px;
    }

    .view-project{
        padding: 7px 15px;
    }

    /* Course detail modal */
    #hero-pop-up{
        flex-direction: column;
        max-height: 100vh;

    }
    .block1{
        width: 100%!important;
    }
    
    .course-type{
        width: 90%;
    }
    .sub{
        font-size: 14px;
    }
    .sub-text.mode{
        font-size: 15px;
    }
    .goals-container{
        margin-top: -15px;
    }
    .container-text{
        font-size: 15px;
    }

    .curriculum{
        width: 95%;
    }
    .card-div{
        width: 95%;
    }
    .card-text{
        font-size: 14px;
    }
    .block2{
        width: 100%!important;
        min-height: 500px;
    }
    .block-2-enroll{
        margin-top: 0px;
        width: 100%;
        min-height: 40px;
    }
    .block-2-enroll .enroll-button{
        width: 50%!important;
        position: relative;
        display: block;
    }
    .offer-card{
        width: 40%;
        float: left;
    }
    #hand-holding-phone{
        right: 0;
        bottom: 0;
        /* width: 40%; */
        float:right;
        height: 450px; 
    }
    
}
@media screen and (max-width: 844px){
    .date{
        font-size: 14px;
    }
    .tech-career {
        font-size: 26px;
    }
    .sub-text {
        font-size: 17px;
    }
    
    .offer-div{
        padding: 0 10px;
    }
    .write-up {
        font-size: 14px;
    }
    .enroll-button, .testimonial-button{
        padding: 8px 16px;
        font-size: 14px;
    }

    .hero-image{
        padding-left: 90px;
    }
    .hero-image img{
        width: 100%;
    }
    .testimony-div{
        flex-direction: column;
    }
    .background-vid{
        width: 100%;
    }
    .vid{
        width: 70%;
        padding: 30px;
    }
    .student-info{
        width: 100%;
        border-left: none;
        margin-left: 0;
        padding: 0 0 15px 0;
        border-top-right-radius: 32px!important;
        border-top-left-radius: 32px!important;
    }
    .student-data{
        padding: 15px 20px;
    }

    /* Course detail modal */
    .offer-card{
        width: 50%;
        height: 230px;
    }
}

@media screen and (max-width: 780px){
    .hero-image{
        padding-left: 50px;
    }
}

@media screen and (max-width: 768px){
    .logo-div{
        padding-left: 70px;
    }
    
    .hero-container, .section{
        padding-left:30px!important;
        padding-right:30px!important;
    }
    .hero-container{
        flex-direction: column;
        padding-top: 20px!important;
    }
    
    .section-heading{
        font-size: 30px!important;
    }

    .date{
        font-size: 17px;
    }
    .tech-career {
        font-size: 29px;
    }
    .sub-text {
        font-size: 19px;
    }
    .hero-image{
        padding-left: 0;
    }
    .hero-image img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    .hero-button-div{
        justify-content: center;
    }

    .brands{
        width: 80%;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .brands img{
        width: 80px;
    }

    /* Courses Section */
    .product-card-btn{
        padding: 8px 6px;
        font-size: 12px;
        border: 1px solid black;
    }
    .course-button{
        width: 63%;
        margin-right: 5px;
    }
    .learn-button{
        width: 33%;
    }

    .program-title{
        font-size: 22px;
    }
    .testimony-courses{
        /* display: block; */
        flex-direction: column;
        min-height: 300px;
    }
    .courses{
        height: 30%;
        width: 100%;
        justify-content:start;
        font-size: 28px;
    }
    /* Course detail modal */
    .close-div{
        
        margin-right: 10px;
    }
    .sub-text.mode, .sub{
        font-size: 13px;
    }
    .container-text{
        font-size: 13px;
    }
    .card-text{
        font-size: 12px;
    }
    #hand-holding-phone{
       
        height: 400px; 
    }
}
@media screen and (max-width: 706px){
    .program-title{
        font-size: 20px;
    }

    /* Courses Section */
    .product-card-btn{
        padding: 8px 8px;
        font-size: 14px;
        border: 1px solid black;
    }
    .course-button{
        width: 100%;
        /* margin-right: 5px; */
    }
    .learn-button{
        width: 100%;
    }

    .testimony-courses{
        min-height: 200px;
    }
    .offer-image{
        width: 50px;
    }
    .write-up{
        font-size: 13px;
    }
}
@media screen and (max-width: 660px){
    .hero-container, .section{
        padding-left:25px!important;
        padding-right:25px!important;
    }

    /* Courses Section */
    .text-sub{
        line-height: 17px;
    }
    .price-tag{
        font-size: 18px;
    }

    .course-value{
        font-size: 12px!important;
    }

    /* Course detail modal */

    .course-type{
        width: 98%;
    }
    .sub-text.mode, .sub{
        font-size: 11px;
    }
    .container-text{
        font-size: 11px;
    }
    .offer-card{
        width: 55%;
        height: 240px;
    }

    .block2{
        min-height: 400px;
    }
    #hand-holding-phone{
       
        height: 350px; 
    }
}

@media screen and (max-width: 576px){
    .logo-div{
        padding-left: 20px;
    }
    .hero-container, .section{
        padding-left:20px!important;
        padding-right:20px!important;
    }
    
    /* Courses Section */
    .product-card-btn{
        padding: 8px 8px;
        font-size: 14px;
        border: 1px solid black;
    }
    .course-button{
        width: 63%;
        /* margin-right: 5px; */
    }
    .learn-button{
        width: 32%;
    }
    .offer-list{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .offer-div{
        width: 50%;
        margin-bottom: 40px;
    }

    .write-up{
        font-size: 12px;
        margin-top: 20px;
    }
    .projects-parent{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .project-box{
        width: 100%!important;
        margin-bottom: 50px;
    }
    /* Course detail modal */
    .close-div{
        
        margin-right: 30px;
    }
    .block1{
        min-height: 1300px;
    }
    .course-type{
        flex-wrap: wrap;
        height: 150px;
    }
    .con{
        width: 40%;
        margin-top: 10px;

    }
    .goals-container{
        width: 100%;
    }
    .container-text{
        font-size: 14px;
    }
    .download-tag{
        font-size: 14px;
    }
    .modal-sub-headings{
        font-size: 23px;
    }
    .block-2-enroll .enroll-button{
        width: 100%!important;
        font-size: 16px;
    }
    .offer-card{
        width: 65%;
    }
    .list{
        font-size: 13px;
    }
    #hand-holding-phone{
        height: 230px;
    }
}

@media screen and (max-width: 480px){
    .block1{
        min-height: 1550px;
    }
    .card-div .card{
        width: 45%;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 456px){
    .date{
        font-size: 16px;
    }
    .tech-career {
        font-size: 25px;
    }
    .sub-text {
        font-size: 17px;
    }
    

    .hero-button-div{
        justify-content: start;
    }

    .enroll-button, .testimonial-button{
        height: 40px;
        font-size: 14px;
    }
    .enroll-button{
        width: 130px;   
    }
    .testimonial-button{
        width: 185px; 
    }

    .brands{
        width: 100%;
    }

     /* Courses Section */

     .design-text{
        font-size: 22px;
     }
     .product-card-btn{
        padding: 8px 6px;
        font-size: 10px;
    }

    .course-button{
        width: 61%;
        margin-right: 0px!important;
    }
    .learn-button{
        width: 33%;
    }

    .courses{
        
        font-size: 22px;
    }

    .vid{
        width: 100%;
    }
    /* Course detail modal */
    .block2{
        min-height: 800px;
    }

    .offer-card{
        width: 100%;
    }
    .card-text{
        font-size: 12px;
    }
    #hand-holding-phone{
        height: 400px;
    }
    .curriculum{
        flex-direction: column;
        align-items: start;

    }
    .modal-sub-headings{
        font-size: 20px;
    }
    
}

@media screen and (max-width: 380px){
    .date{
        font-size: 14px;
    }
    .tech-career {
        font-size: 23px;
    }
    .sub-text {
        font-size: 15px;
    }

    .enroll-button, .testimonial-button{
        height: 50px;
        /* padding: 8px 16px; */
        font-size: 16px;
    }
    .enroll-button{
        
        width: 120px;
        padding: 9px 12px;
        font-size: 14px;  
    }
    .testimonial-button{
        width: 180px;
        padding: 9px 12px;
        font-size: 14px;
    }

    .brands img{
        width: 70px;
    }

    .courses{
        
        font-size: 18px;
    }
    
     /* Courses Section */
     /* .product-card-btn{
        padding: 8px 8px;
        font-size: 13px;
    }

    .course-button{
        width: 1001%;
        margin-right: 0px!important;
    }
    .learn-button{
        width: 33%;
    } */
}

@media screen and (max-width: 360px){
    .hero-button-div{
        display: block;
        width: 100%;
    }
    .enroll-button, .testimonial-button{
        font-size: 14px;
    }
    .enroll-button-div{
        margin-right: 0px;
        margin-bottom: 12px;
    }
    .enroll-button{
        width: 100%;
        padding: 0px; 
        margin-right: 0px!important;
    }
    .testimonial-button{
        width: 100%;
        padding: 0px;
    }

    .sub, .sub-text.mode{
        font-size: 10px;
    }
    

}

@media screen and (max-width: 352px){
    .parent-div-1 .col-11{
        width: 100%!important;
    }
    /* Course detail modal */
    .course-type{
        font-size: 12px;
        padding-left: 10px;
    }
    .con{
        width: 48%;
        margin-right: 5px;
    }
    .card-div .card{
        width: 49%;
    }
}

@media screen and (max-width: 325px){
    .product-card-btn{
        padding: 8px 8px;
        font-size: 12px;
    }

    .course-button{
        width: 100%;
    }
    .learn-button{
        width: 100%;
    }   
}

@media screen and (max-width: 320px){
    .block1{
        min-height: 2320px!important;
    }
    .card-div .card{
        width: 100%;
    }
}